<html>
<head>
<title>Customers</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newCustomer() { showform('insert'); }
    function browseCustomer() { showform ('browse'); }
</script>
</head>

<body onload="browseCustomer()">
<h1>Customers</h1>

[ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Show CRUD</a> </p>
<table border="1" cellpadding="5">
  <thead>
    <tr>

        <th><a href="#" onClick="newCustomer()">New</a></th>

        <!-- Iterate through each key in the first entry to get the
        column name -->
        
        <th></th>
        {% for key in customers[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>    

    <!-- Now, iterate through every person in bsg_people -->
    {% for customer in customers %}
    <tr>
        <td><a href="/customers-edit/{{customer['Customer #']}}" class="btn btn-default">Edit</a></td>
        <td><a href="/customers-delete/{{customer['Customer #']}}" class="btn btn-default">Delete</a></td>
        
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in customer.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{customer[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</div> 
<div id="insert">
    <form method="POST" id="addCustomer">
        <legend><strong>Add Customer</strong></legend>
          <fieldset class="fields">
            <label>customerID</label><input type="text" name="customerID">
            <label>email</label><input type="text" name="email">
            <label>firstName</label><input type="text" name="firstName">
            <label>lastName</label><input type="text" name="lastName">
            <label>addressStreet</label><input type="text" name="addressStreet">
            <label>addressCity</label><input type="text" name="addressCity">
            <label>addressState</label><input type="text" name="addressState">
            <label>addressZip</label><input type="text" name="addressZip">
            <label>totalSales</label><input type="text" name="totalSales">
            <label>rewardsTierId</label><input type="text" name="rewardsTierId">
      </fieldset>
          <input class="btn" type="submit" id="addCustomer" value="Add Customer">
          <input class="btn" type="button" value="cancel" onClick="browseCustomer()">
	</form> 
</div>
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateCustomer">
        <legend><strong>Update Customer</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="CustomerID" id="updateCustomerID" value="1">
          <label> ID: </label> 1
          <label>customerID</label><input type="text" name="customerID" value = "1">
          <label>email</label><input type="text" name="email" value = "gaslover@aol.com">
          <label>firstName</label><input type="text" name="firstName" value = "Hank">
          <label>lastName</label><input type="text" name="lastName" value = "Hill">
          <label>addressStreet</label><input type="text" name="addressStreet" value = "72 Desert Rose Lane">
          <label>addressCity</label><input type="text" name="addressCity" value = "Arlen">
          <label>addressState</label><input type="text" name="addressState" value = "TX">
          <label>addressZip</label><input type="text" name="addressZip" value = "73104">
          <label>totalSales</label><input type="text" name="totalSales" value = "3450">
          <label>rewardsTierId</label><input type="text" name="rewardsTierId" value = "3">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveCustomer" value="Save Update Customer">
          <input class="btn" type="button" value="cancel" onClick="browseCustomer()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteCustomer">
      <legend><strong>Delete Customer</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="CustomerID" id="deleteCustomerID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>email</strong> </label> gaslover@aol.com
    </fieldset>
    <input class="btn" type="submit" id="DeleteCustomer" value="Delete Customer">
          <input class="btn" type="button" value="cancel" onClick="browseCustomer()">
  </form> 
</div>
</body>
</html>