<html>

<head>
	<title>Delete Customer</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <form id="deleteCustomer" action="/customers-delete/{{customerNum}}" method="post">
        <table border="1" cellpadding="5"> 
            <caption> Deleting Customer: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if customers %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in customers[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th>{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for customer in customers %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in customer.keys() %}
                       
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{customer[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
            <input type="hidden" value="{{customerNum}}" class="form-control" id="customerID" name="customerID" required>
        </table>
        
        <input type="submit" value="Delete Customer" name="Delete_Customer" class="btn btn-primary" style="margin:.5rem;">
        <a href='/customers'><input class="btn" type="button" value="cancel"></a>
        </form>
    </div>
</body>
</html>
