<html>
<head>
<title>Employees</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newEmployee() { showform('insert'); }
    function browseEmployee() { showform ('browse'); }
</script>
</head>

<body onload="browseEmployee()">
<h1>Employees</h1>

[ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p></p>
<table border="1" cellpadding="5">
  <thead>
    <tr>

        <th><a href="#" onClick="newEmployee()">New</a></th>

        <!-- Iterate through each key in the first entry to get the
        column name -->
        
        <th></th>
        {% for key in employees[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>    

    <!-- Now, iterate through every person in bsg_people -->
    {% for employee in employees %}
    <tr>
        <td><a href="/employee-edit/{{employee['Employee #']}}" class="btn btn-default">Edit</a></td>
        <td><a href="/employee-delete/{{employee['Employee #']}}" class="btn btn-default">Delete</a></td>
        
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in employee.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{employee[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</div> 
<div id="insert">
    <form method="POST" id="addEmployee">
        <p>
        <legend><strong>Add Employee</strong></legend>
        </p>
          <fieldset class="fields">
            
            <p>
            <label>SSN: </label><input type="text" name="socialSecurityNumber">
            </p>
            <p>
            <label>First Name: </label><input type="text" name="firstName">
            </p>
            <p>
            <label>Last Name: </label><input type="text" name="lastName">
            </p>
            <p>
            <label>Phone #: </label><input type="text" name="phoneNumber">
            </p>
            <p>
            <label>Street: </label><input type="text" name="addressStreet">
            </p>
            <p>
            <label>City: </label><input type="text" name="addressCity">
            </p>
            <p>
            <label>State: </label><input type="text" name="addressState">
            </p>
            <p>
            <label>Zip Code: </label><input type="text" name="addressZip">
            </p>
      </fieldset>
          <input class="btn" type="submit" id="addEmployee" value="Add Employee" name="Add_Employee">
          <input class="btn" type="button" value="cancel" onClick="browseEmployee()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>

</body>
</html>