<html>
<head>
<title>Home</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<h1>Home</h1>

[ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]


<!-- Template used for this assignment was referenced by OSU CS 340 Professor, 
and can be found at the following link https://canvas.oregonstate.edu/courses/1870053/files/92584084?wrap=1-->
</html>