<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Home</title>

<header>
    <h1>JL Liquors Inc.</h1>
</header>

<body>
    <h1>Home</h1>
    [<a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

    <p></p>

    <img src={{ image_file }} alt="Liquor Store" width="1267" height="712">
 </div>


</body>

<footer class="page-footer">
    <p>© 2022 Liam Maloney and Jenna Rowan</p>
</footer>

</html>