<html>

<head>
	<title>Delete Liquor</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <form id="deleteLiquor" action="/liquors-delete/{{productID}}" method="post">
        <table border="1" cellpadding="5"> 
            <caption> Deleting Liquor: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if liquors %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in liquors[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th>{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for liquor in liquors %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in liquor.keys() %}
                       
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{liquor[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
            <input type="hidden" value="{{productID}}" class="form-control" id="productID" name="productID" required>
        </table>
        
        <input type="submit" value="Delete Liquor" name="Delete_Liquor" class="btn btn-primary" style="margin:.5rem;">
        <a href='/liquors'><input class="btn" type="button" value="cancel"></a>
        </form>
    </div>
</body>
</html>
