<html>

<title>Liquors</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newLiquor() { showform('insert'); }
    {# function updateLiquor(pid) { showform('update'); }
    function deleteLiquor(pid) { showform ('delete'); } #}
    function browseLiquor() { showform ('browse'); }
    {# function showAll() { showform ('all'); } #}
</script>

<header>
    <h1>JL Liquors Inc.</h1>
</header>

<body onload="browseLiquor()">
<h1>Liquors</h1>

[ <a href="/">Home</a> ~ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
{# <p><a href="#" onClick="showAll()">Show CRUD</a> </p> #}
<p></p>
<table border="1" cellpadding="5">
  <tr>
    <th></th>
    <th></th>
    {% for key in liquors[0].keys() %}

    <th>{{ key }}</th>

    {% endfor %}
  </tr>
  <tbody>

  {% for liquor in liquors %}
  <tr>
    <td><a href="/liquors-edit/{{liquor['Product #']}}/{{liquor['Name']}}/{{liquor['Size (in ml)']}}/{{liquor['Price ($)']}}" class="btn btn-default">Edit</a></td>
    <td><a href="/liquors-delete/{{liquor['Product #']}}" class="btn btn-default">Delete</a></td>
    
    {% for key in liquor.keys() %}

    <td>{{liquor[key]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>

<input class="addNewBtn" type="submit" name="newLiquor" onClick="newLiquor()" id="newLiquor" value="Add New Liquor">

</div> 
<div id="insert">
    <form method="POST" id="addLiquor">
        <p></p>
        <legend><strong>Add New Liquor</strong></legend>
        <p></p>
          <fieldset class="fields">
            <p>
            <label>productID</label> <input type="text" name="productID">
            </p>
            <p>
            <label>productName</label> <input type="text" name="productName">
            </p>
            <p>
            <label>productSize(ML)</label> <input type="text" name = "productSize(ML)">
            </p>
            <p>
            <label> ProductPrice </label> <input type="text" name="productPrice">
            </p>
      </fieldset>
          <p></p>
          <input class="btn" type="submit" name="Add_Liquor" id="addLiquor" value="Add Liquor">
          <input class="btn" type="button" value="Cancel" onClick="browseLiquor()">
	</form> 
</div>
</body>

<footer class="page-footer">
    <p>© 2022 Liam Maloney and Jenna Rowan</p>
</footer>

</html>