<html>
<head>
<title>Liquors</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { 
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newLiquor() { showform('insert'); }
    function updateLiquor(pid) { showform('update'); }
    function deleteLiquor(pid) { showform ('delete'); }
    function browseLiquor() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseLiquor()">
<h1>Liquors</h1>

[ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardstiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p><a href="#" onClick="showAll()">Show CRUD</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newLiquor()">New</a></th>
    <th></th>
    {% for key in liquors[0].keys() %}

    <th>{{ key }}</th>

    {% endfor %}
  </tr>
  <tbody>

  {% for liqour in liquors %}
  <tr>
    <td><a href="/liquors-edit/{{liquors['Product #']}}/{{liquors['Name']}}/{{liquors['Size (in ml)']}}/{{liquors['Price ($)']}}" class="btn btn-default">Edit</a></td>
    <td><a href="/liquors-delete/{{liquors['Product #']}}" class="btn btn-default">Delete</a></td>
    
    {% for key in liqour.keys() %}

    <td>{{liqour[key]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>
<p>&nbsp;</p>
</div> 
<div id="insert">
    <form method="POST" id="addLiquor">
        <p></p>
        <legend><strong>Add Liquor</strong></legend>
          <fieldset class="fields">
            <p>
            <label>productID</label> <input type="text" name="productID">
            </p>
            <p>
            <label>productName</label> <input type="text" name="productName">
            </p>
            <p>
            <label>productSize(ML)</label> <input type="text" name = "productSize(ML)">
            </p>
            <p>
            <label> ProductPrice </label> <input type="text" name="ProductPrice">
            </p>
      </fieldset>
          <input class="btn" type="submit" name="Add_Liquor" id="addLiquor" value="Add Liquor">
          <input class="btn" type="button" value="cancel" onClick="browseLiquor()">
	</form> 
</div>
</body>
</html>



