<html>
<head>
<title>LiquorsOrders</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newLiquorsOrders() { showform('insert'); }
    function browseLiquorsOrders() { showform ('browse'); }
</script>
</head>

<body onload="browseLiquorsOrders()">
<h1>LiquorsOrders</h1>

[ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p></p>
<table border="1" cellpadding="5">
    <tr>

        <th><a href="#" onClick="newLiquorsOrders()">New</a></th>

        <!-- Iterate through each key in the first entry to get the
        column name -->
        
        {% for key in liquorsorders[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>    

    <!-- Now, iterate through every person in bsg_people -->
    {% for liquororder in liquorsorders %}
    <tr>
    <td></td>
        
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in liquororder.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{liquororder[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</div> 

<div id="insert">

    <form action = "/liquorsorders" method="POST" id="addLiquorsOrders">
        <legend><strong>Add LiquorsOrders</strong></legend>
          <fieldset class="fields">
          <p>
            <label>productID</label> <input type="text" name="Liquors_productID">
          </p>
          <p>
            <label>orderID</label> <input type="text" name="Orders_orderID">
          </p>
          <p>
            <label>productQuantity</label> <input type="text" name = "productQuantity">
          </p>
      </fieldset>
          <input class="btn" type="submit" name="Add_LiquorsOrders" value="Add_LiquorsOrders" id="Add_LiquorsOrders">
          <input class="btn" type="button" value="cancel" onClick="browseLiquorsOrders()">
	</form> 
  </div>
{# </div>
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateLiquorsOrders">
        <legend><strong>Update LiquorsOrders</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="LiquorsOrdersID" id="updateLiquorsOrdersID" value="1">
          <label>productID</label> <input type="text" name="productID" value="1">
          <label>orderID</label> <input type="text" name="productName" value="1">
          <label>productQuantity</label> <input type="text" name = "productSize(ML)" value="2">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveLiquorsOrders" value="Save Update LiquorsOrders">
          <input class="btn" type="button" value="cancel" onClick="browseLiquorsOrders()">
	</form> 
</div>
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteLiquorsOrders">
      <legend><strong>Delete LiquorsOrders</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="LiquorsOrdersID" id="deleteLiquorsOrdersID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>LiquorsOrders</strong> </label> 1
    </fieldset>
    <input class="btn" type="submit" id="DeleteLiquorsOrders" value="Delete LiquorsOrders">
          <input class="btn" type="button" value="cancel" onClick="browseLiquorsOrders()">
  </form>  #}
{# </div> #}

</body>
</html>