<html>

<title>Orders</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newOrders() { showform('insert'); }
    function browseOrders() { showform ('browse'); }
</script>

<header>
    <h1>JL Liquors Inc.</h1>
</header>

<body onload="browseOrders()">
<h1>Orders</h1>

[ <a href="/">Home</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p></p>
<table border="1" cellpadding="5">
  <thead>
    <tr>

        <th><a href="#" onClick="newOrders()">New</a></th>

        <!-- Iterate through each key in the first entry to get the
        column name -->
        
        <th></th>
        {% for key in orders[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>    

    <!-- Now, iterate through every person in bsg_people -->
    {% for order in orders %}
    <tr>
        <td><a href="/orders-edit/{{order['Order #']}}/{{order['Employee']}}/{{order['Total']}}" class="btn btn-default">Edit</a></td>
        <td><a href="/orders-delete/{{order['Order #']}}/{{order['Total']}}" class="btn btn-default">Delete</a></td>
        
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in order.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{order[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</div> 
<div id="insert">
    
    <form action="/orders" method="POST" id="addOrders">
        <p></p>
        <legend><strong>Add Orders</strong></legend>
        <p></p>
          <fieldset class="fields">
          <p>
            <label for="employeeID">Employee:</label>
            <select class="form-control" id="employeeID" name="employeeID" placeholder="" required> 
                
                <option value="0">&nbsp;</option>
                {% for employee in employees %}
                        
                  <option value="{{ employee['employeeID'] }}"> {{employee['Employee']}}</option> 
                
                {% endfor %} 
            </select>
            </p>
            <p>
            <label for="storeID">Store Location:</label>
            <select class="form-control" id="storeID" name="storeID" placeholder="" required> 
                
                <option value="0">&nbsp;</option>
                {% for store in stores %}
                        
                  <option value="{{ store['storeID'] }}"> {{store['Store Location']}}</option> 
                
                {% endfor %} 
            </select>
            </p>
            <p>
            <label for="customerID">Customer Name:</label>
            <select class="form-control" id="customerID" name="customerID" placeholder="" required> 
                
                <option value="0">&nbsp;</option>
                {% for customer in customers %}
                        
                  <option value="{{ customer['customerID'] }}"> {{customer['Customer']}}</option> 
                
                {% endfor %} 
            </select>	
            </p>
            <p>
            <label> orderTotal </label> <input type="text" class="form-control" name="orderTotal" id="orderTotal">
            </p>
      </fieldset>
          <input class="btn" type="submit" name="Add_Order" id="addOrders" value="Add Orders">
          <input class="btn" type="button" value="cancel" onClick="browseOrders()">
	</form> 
</div>


</body>

<footer class="page-footer">
    <p>© 2022 Liam Maloney and Jenna Rowan</p>
</footer>

</html>