<html>

<head>
	<title>Edit Order</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Order: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if orders %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in orders[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th>{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for order in orders %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in order.keys() %}
                       
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{order[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
        
        <div id="edit">
        
            <form id="editOrder" action="/orders-edit/{{orderNum}}/{{employeeName}}/{{total}}" method="post">
                
                <legend><strong>Edit Order</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of order to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the order we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{orderNum}}" class="form-control" id="orderID" name="orderID" required>
                   
                    <label for="employeeID">Employee:</label>
                    <select class="form-control" id="employeeID" name="employeeID" selected="Walter White" required> 
                
                        <option value="0">&nbsp;</option>
                        {% for employee in employees %}
                            
                            {# employeeName is passed in correctly but the if condition won't work to select a default value #}
                            
                            {# {% if {{employeeName}} == {{employee['Employee']}} %}
                                <option value="{{ employee['employeeID'] }}" selected>{{ employee['Employee'] }}</option>
                            {% else %}
                                <option value="{{ employee['employeeID'] }}">{{ employee['Employee'] }}</option>
                            {% endif %} #}

                            <option value="{{ employee['employeeID'] }}"> {{employee['Employee']}}</option> 
                        
                        {% endfor %} 

                    </select>

                    <label for="storeID">Store Location:</label>
                    <select class="form-control" id="storeID" name="storeID" placeholder="" required> 
                        
                        <option value="0">&nbsp;</option>
                        {% for store in stores %}
                                
                        <option value="{{ store['storeID'] }}"> {{store['Store Location']}}</option> 
                        
                        {% endfor %} 
                    </select>

                    <label for="customerID">Customer Name:</label>
                    <select class="form-control" id="customerID" name="customerID" placeholder="" required> 
                        
                        <option value="0">&nbsp;</option>
                        {% for customer in customers %}
                                
                        <option value="{{ customer['customerID'] }}"> {{customer['Customer']}}</option> 
                        
                        {% endfor %} 
                    </select>	

                    <label> orderTotal </label> <input type="text" class="form-control" name="orderTotal" id="orderTotal" value="{{ total }}">
                
                </fieldset>
                <input type="submit" value="Edit Order" name="Edit_Order" class="btn btn-primary" style="margin:.5rem;">
                <a href='/orders'><input class="btn" type="button" value="cancel"></a>
            </form>
</body>
</html>
