<html>

<title>RewardsTiers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newRewardsTier() { showform('insert'); }
    {# function updateRewardsTier(pid) { showform('update'); }
    function deleteRewardsTier(pid) { showform ('delete'); } #}
    function browseRewardsTier() { showform ('browse'); }
    {# function showAll() { showform ('all'); } #}
</script>

<header>
    <h1>JL Liquors Inc.</h1>
</header>

<body onload="browseRewardsTier()">
<h1>RewardsTiers</h1>

[ <a href="/">Home</a> ~ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p></p>
<table border="1" cellpadding="5">
  <tr>
    
    {% for key in rewardstiers[0].keys() %}

    <th>{{ key }}</th>

    {% endfor %}
  </tr>
  <tbody>

  {% for rewardstier in rewardstiers %}
  <tr>
  
  {% for key in rewardstier.keys() %}
    
    <td>{{rewardstier[key]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<input class="addNewBtn" type="submit" name="newRewardsTier" onClick="newRewardsTier()" id="newRewardsTier" value="Add New RewardsTier">

</div> 

<div id="insert">

    <form action = "/rewardtiers" method="POST" id="addRewardsTier">
        <p></p>
        <legend><strong>Add New RewardsTier</strong></legend>
        <p></p>
          <fieldset class="fields">
            <p>
            <label>rewardsTierId</label> <input type="text" name="rewardsTierId">
            </p>
            <p>
            <label>rewardsTierName</label> <input type="text" name="rewardsTierName">
            </p>
            <p>
            <label>rewardsTierDiscount</label> <input type="text" name = "rewardsTierDiscount">
            </p>
            <p>
            <label>rewardsTierMinPurchase</label> <input type="text" name="rewardsTierMinPurchase">
            </p>
      </fieldset>
          <p></p>
          <input class="btn" type="submit" name="Add_RewardsTiers" value="Add RewardsTier" id="Add_RewardsTiers">
          <input class="btn" type="button" value="Cancel" onClick="browseRewardsTier()">
	</form> 
</div>
{# <p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateRewardsTier">
        <legend><strong>Update RewardsTier</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="RewardsTierID" id="updateRewardsTierID" value="1">
          <label> ID: </label> 1
            <label>rewardsTierId</label> <input type="text" name="rewardsTierId" value = "1">
            <label>rewardsTierName</label> <input type="text" name="rewardsTierName" value = "Bronze">
            <label>rewardsTierDiscount</label> <input type="text" name = "rewardsTierDiscount" value = ".995">
            <label>rewardsTierMinPurchase</label> <input type="text" name="rewardsTierMinPurchase" value = "0">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveRewardsTier" value="Save Update RewardsTier">
          <input class="btn" type="button" value="cancel" onClick="browseRewardsTier()">
	</form> 
</div>
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteRewardsTier">
      <legend><strong>Delete RewardsTier</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="RewardsTierID" id="deleteRewardsTierID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>Bronze</strong> </label> .995
    </fieldset>
    <input class="btn" type="submit" id="DeleteRewardsTier" value="Delete RewardsTier">
          <input class="btn" type="button" value="cancel" onClick="browseRewardsTier()">
  </form>  #}
{# </div> #}

</body>

<footer class="page-footer">
    <p>© 2022 Liam Maloney and Jenna Rowan</p>
</footer>

</html>