<html>

<head>
	<title>Delete Store</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <form id="deleteStore" action="/stores-delete/{{storeNum}}" method="post">
        <table border="1" cellpadding="5"> 
            <caption> Deleting Store: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if stores %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in stores[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th>{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for store in stores %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in store.keys() %}
                       
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{store[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
            <input type="hidden" value="{{storeNum}}" class="form-control" id="storeID" name="storeID" required>
        </table>
        
        <input type="submit" value="Delete Store" name="Delete_Store" class="btn btn-primary" style="margin:.5rem;">
        <a href='/stores'><input class="btn" type="button" value="cancel"></a>
        </form>
    </div>
</body>
</html>
