<html>
<head>
<title>Stores</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
			}
		}
    function newStore() { showform('insert'); }
    function browseStore() { showform ('browse'); }
</script>
</head>

<body onload="browseStore()">
<h1>Stores</h1>

[ <a href="orders">Orders</a> ~ <a href="stores">Stores</a> ~ <a href="customers">Customers</a> ~ <a href="employees">Employees</a> ~ <a href="liquors">Liquors</a> ~ <a href="rewardtiers">RewardTiers</a> ~ <a href="liquorsorders">LiquorsOrders</a>]

<div id="browse">
<p></p>
<table border="1" cellpadding="5">
  <thead>
    <tr>

        <th><a href="#" onClick="newStore()">New</a></th>

        <!-- Iterate through each key in the first entry to get the
        column name -->
        
        <th></th>
        {% for key in stores[0].keys() %}

        <!-- Create a <th> tag with the key inside of it, this will be
        our header row -->
        <th>{{ key }}</th>

        <!-- End of this for loop -->
        {% endfor %}
    </tr>
    <tbody>    

    <!-- Now, iterate through every person in bsg_people -->
    {% for store in stores %}
    <tr>
        <td><a href="/stores-edit/{{store['Store #']}}" class="btn btn-default">Edit</a></td>
        <td><a href="/stores-delete/{{store['Store #']}}" class="btn btn-default">Delete</a></td>
        
        <!-- Then iterate through every key in the current person dictionary -->
        {% for key in store.keys() %}

        <!-- Create a <td> element with the value of that key in it -->
        <td>{{store[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<p>&nbsp;</p>
</div> 
<div id="insert">
    <form method="POST" id="addStore">
        <legend><strong>Add Store</strong></legend>
          <fieldset class="fields">
            <label>addressStreet</label> <input type="text" name="addressStreet">
            <label>addressCity</label> <input type="text" name="addressCity">
            <label> addressState </label> <input type="text" name = "addressState" value="NM">
            <label> addressZip </label> <input type="text" name="addressZip">
      </fieldset>
          <input class="btn" type="submit" name="Add_Store" id="addStore" value="Add Store">
          <input class="btn" type="button" value="cancel" onClick="browseStore()">
	</form> 
</div>

</body>
</html>